[run]
source = apps
omit = *tests*, *migrations*, *purge/management/commands*, *project*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
